Binaries
DerivedDataCache
Intermediate
Saved
Build
Plugins/Developer/RiderLink/
Content/Cabin_Lake/Textures/

.idea/
*.user
*.userosscache
*.sln.docstates
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace