Binaries
DerivedDataCache
Intermediate
Saved
Build
Plugins/Developer/RiderLink/
Content/Cabin_Lake/Textures/
Content/PriestessGirl/Textures/
Content/MetaHumans/
Content/0_MHC/

.idea/
*.user
*.userosscache
*.sln.docstates
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace